#!/usr/bin/env bash

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias rmrf="sudo rm -rf"
alias temp="mkd temp"
alias pip="sudo pip"

# `ls` aliases
alias l="ls -lF --color"
alias lsa="ls -AF"
alias lsd="ls -lF --color | grep --color=never '^d'"
alias lsf="ls -lF --color | grep -v '^d'"

# apt (non-sudo & shorthands)
alias apt="sudo apt"
alias apt-check-update="apt update && apt list --upgradable -a"
alias apt-upgrade="apt update && apt list --upgradable -a && apt upgrade -y"

# System Level Commands
alias halts="sudo systemctl shutdown"
alias reboots="sudo systemctl reboot"

# Get the CPU temperature in C°
alias get_cpu_temp="vcgencmd measure_temp"

# Lookup an installed package
alias aptls="dpkg --get-selections | grep"

# Get file permissions in octal format
alias octal="stat -c \"%a %n\""

# Reload the shell (i.e. invoke it as a login shell)
alias reload="exec \$SHELL -l"
alias rel="reload"
