# Export the systemd dir
export DIR_SYSTEMD_LIB="/lib/systemd/system"
export DIR_SYSTEMD_ETC="/etc/systemd/system"

# Export webserver directories
export DIR_NGINX="/etc/nginx"
export DIR_APACHE="/etc/apache2"
export DIR_MYSQL="/etc/mysql"
export WEBROOT="/var/www"
export DIR_CERTBOT="/etc/letsencrypt/live"
