# Export the systemd dir
export DIR_SYSTEMD_LIB="/lib/systemd/system"
export DIR_SYSTEMD_ETC="/etc/systemd/system"

# Export webserver directories
export NGINX_DIR="/etc/nginx"
export APACHE_DIR="/etc/apache2"
export MYSQL_DIR="/etc/mysql"
export WEBROOT="/var/www"
export CERTBOT_DIR="/etc/letsencrypt/live"
