#!/usr/bin/env bash

# => Set Vim as default editor
export EDITOR=vim

# => Systemd Services
export SYSTEMD_LIB="/lib/systemd/system"
export SYSTEMD_ETC="/etc/systemd/system"

# => Web Directories
export NGINX_HOME="/etc/nginx"
export APACHE_HOME="/etc/apache2"
export MYSQL_HOME="/etc/mysql"
export WEBROOT="/var/www"
export CERTBOT_HOME="/etc/letsencrypt/live"

# => Log directories
export LOGS_DIR="/var/log/"
export NGINX_LOGS="/var/log/nginx"

# Expose a variable to get CPU architecture
ARCH=$(dpkg --print-architecture)
export ARCH
