[Unit]
Description=Glances Web Server

[Service]
# Starts a Glances webserver bound on port 61208
ExecStart=/usr/local/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target
