[Unit]
Description=Glances

[Service]
# Starts a Glances webserver. Use `-s` for starting a Glances server instead
ExecStart=/usr/local/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target
