[Unit]
Description=MongoDB Daemon

[Service]
ExecStart=/usr/bin/mongod --config /etc/mongod.conf
ExecStop=killall /usr/bin/mongod

[Install]
WantedBy=multi-user.target
